<h1>Профиль пользователя</h1>
<hr />

<p>Эта страница доступна только авторизованным пользователям.</p>

<div class="alert alert-success">
    Имя пользователя: <b>@Context.Session.GetString("UserName")</b>
</div>